@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');


*{
margin: 0%;
padding: 0;
}

.App {
  text-align: center;
  margin: 0;
}

.head{
  display: flex;
  justify-content: space-between;
  width: 96vw;
  padding-left: 2vw;
  padding-top: 2vh;
  margin: 0;
}

.icon{
  max-height: 9vh;
  margin: 0;
}

.mhead{
  background:
      linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ),
      url("./assets/mimg.jpeg");
 background-size: cover;
 background-repeat: no-repeat;
 height: 100vh;
 position: relative;
 margin: 0;
 width: 100vw;
}

.mainbox{
  bottom: 0px;
  position: absolute;
}

.three{
  display: flex;
  width: 90vw;
  margin: 0;
  transform: translateX(-3%);
}

.p1{
  width: 35vw;
  transform: translateX(50%);
  margin: 0;
}
.p2{
  width: 35vw;
  z-index: 2;
  margin: 0;
}
.p3{
  width: 35vw;
  transform: translateX(-50%);
  margin: 0;
}
.mheadt{
  font-family: 'Black Ops One', cursive;
  font-size: 12vw;
  padding-top: 11vh;
  color: rgb(255, 149, 0);
  transform:translate(5%,63%);
}

.line{
  background-color: rgb(255, 149, 0);
  width:100vw;
  height: 1vh;
  margin: 0;
  padding: 0;
}

.minfo{
  padding-top: 15vh;
  margin: 0%;
  font-family: 'Black Ops One', cursive;
  font-size: 3vw;
  color: #eb5e28;
  margin-bottom: 6vh;
}

.infop{
  font-family: 'Oswald', sans-serif;
  width: 70vw;
  color: #ccc5b9;
  margin: auto;
  margin-bottom: 12vh;
}


.sea{
font-family: 'Black Ops One', cursive;
}

.seap{
font-family: 'Oswald', sans-serif;
}


.pfp{
width: 10vw;
height:10vw;
border-radius: 5px;
}

.teamm{
display: flex;
margin-bottom: 3vh;
width: 23vw;
}

.name{
font-size: 1.5vw;
font-weight: 800;
color: #ff7f51;
}
.pdis{
font-size: 1.1vw;
font-weight: 600;
color: #ccc5b9;
font-family: 'Oswald', sans-serif;
}

.pdism{
padding-top:1vh;
text-align: left;
padding-left: 2vw;
display: flex;
justify-content: center;
align-content: center;
flex-direction: column;
height:3em;

font-family: 'Black Ops One', cursive;
}

.mainpd{
display:flex;
width:84vw;
justify-content: space-evenly;
margin-left:8vw;
margin-right:8vw;
flex-direction: column;

}
.mainpd1{
display:flex;
flex-direction: row;
width: 84vw;
justify-content: space-around;
}

.mmn{
font-size: 1.4em;
font-family: 'Black Ops One', cursive;
width: 70vw;
padding-top: 7vh;
font-weight:500;
margin-left: 15vw;
margin-right: 15vw;
margin-bottom: 6vh;
padding-bottom: 0.8vh;
color: #eb5e28;
border-bottom: 2px solid white;
}

a{
text-decoration: none;
}

.mainf{
width: 40vw;
padding-top: 20vh;
}

.minte{
font-family: 'Oswald', sans-serif;
font-size: 1.1vw;

color: #ccc5b9;
transform: translateY(9vw);
}

.me{
width: 32vw;
}

.created{
font-family: 'Geologica', sans-serif;
color:#ccc5b9
}

.lastb{
display: flex;
flex-direction: row;
justify-content: center;
}

.italics{
font-style: italic;
font-family: 'Geologica', sans-serif;
padding-top: 0.1vw;
padding-left: 0.4vw;
color: #fbbe74;
}

.icontt{
color: white;
font-size: 4vw;
width: 10vw;

}

.icond{
  padding-top: 4vh;
  padding-bottom: 2vh;
}

.lastm{
width: 100vw;
min-height: 23vh;
background:
linear-gradient(
rgba(0, 0, 0, 0.7),
rgba(0, 0, 0, 0.7)
), 
url('./assets/spart.jpeg');
background-repeat: no-repeat;
background-size: cover;

margin: 0;
padding: 0;
}

/*stats*/

.tmaind{
  width:70vw;
  margin-left: 15vw;
  padding-top: 1vh;
}

.tnum{
  display:flex;
  justify-content: space-between;
  
}

.num{
  font-size:6vw;
  font-weight: 800;
  background: rgb(253,187,45);
  background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(42,34,195,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;
   
  }

  .ds{
    font-family: 'Oswald', sans-serif;
    font-size:1em;
  font-weight: 400;
  color: aliceblue;
  }

  

  .spart{
    background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
        /* bottom, image */
        url("./assets/spart.jpeg");
   background-size: cover;
   height: 100vh;
   width: 100vw;
   background-repeat: no-repeat;
  }



.thirdimg{
  background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.9), 
          rgba(0, 0, 0, 0.9)
        ),
        /* bottom, image */
        url("./assets/thirr.jpg");
   background-size: cover;
   min-height: 120vh;
   width: 100vw;
   background-repeat: no-repeat;
   padding-bottom: 5vh
  ;
}

  /*FAQ*/

*, *:after, *:before {
	box-sizing: border-box;
}


.abody {
	line-height: 1.5;
	font-size: 1.25rem;
}

*:focus {
	outline: none;
}

.abody {
	width: 50vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5rem;
	margin-bottom: 5rem;
  font-family: 'Poppins', sans-serif;
}

details div {
	border-left: 2px solid #5a5a5a;
	border-right: 2px solid #5a5a5a;
	border-bottom: 2px solid #5a5a5a;
	padding: 1.5em;
}

details div > * + * {
	margin-top: 1.5em;
}

details + details {
	margin-top: .5rem;
}

summary {
	list-style: none;
  font-size: 1rem;
}

.stext{
  font-size: 1rem;
  color: white;
}

summary::-webkit-details-marker {
	display: none;
}

summary {
	border: 2px solid #5a5a5a;
	padding: .75em 1em;
	cursor: pointer;
	position: relative;
	padding-left: calc(1.75rem + .75rem + .75rem);
 font-weight: 600;
 color: rgb(183, 183, 183);
}

summary:before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: .75rem;
	content: "↓";
	width: 1.75rem;
	height: 1.75rem;
	background-color: #000;
	color: #FFF;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;

}

details[open] summary {
	background-color: #eee;
  color: #000;
}

details[open] summary:before {
	content: "↑";
}

summary:hover {
	background-color: #eee;
  color: #000;
}

.linkk{
	color: inherit;
	font-weight: 600;
	text-decoration: none;
	box-shadow: 0 1px 0 0;
}

.linkk:hover {
	box-shadow: 0 3px 0 0;
}

code {
	font-family: monospace;
	font-weight: 600;
}
  
 .ds{
    margin-top: 0;
    padding-top: 0;
    font-size: 0.8em;
    font-family: 'Oswald', sans-serif;
  }
  
  .tdis{
    justify-content: center;
    width:100%;

  }

  @media only screen and (max-width: 500px) {
   .p1{
    width: 55vw;
   }

   .p3{
    width: 55vw;
   }

   .p2{
    width: 55vw;
   }

    .three{
      width: 100vw;
      transform: translateX(-30.5%);
    }

    .mheadt{
      font-size: 17vw;
      padding-top: 0px;
      transform:translate(0%,0%);
    }

    .minfo{
      padding-top: 12vh;
      font-size: 7vw;
      margin-bottom: 4vh;
    }
    
    .infop{
      width: 90vw;
      margin-bottom: 12vh;
    }

    .tmaind{
      width:80vw;
      margin-left: 10vw;
    }
    
    .num{
      font-size:10vw;
      font-weight: 800;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    
      .ds{
        font-size:0.8em;
      font-weight: 400;
      color: aliceblue;
      }

      .pfp{
        width: 20vw;
        height:20vw;
        border-radius: 7px;
        }
        
        .teamm{
        display: flex;
        margin-bottom: 3vh;
        width: 23vw;
        }
        
        .name{
        font-size: 4vw;
        font-weight: 800;
        }
        .pdis{
        font-size: 3vw;
        font-weight: 600;
        }
        
        .mainpd{
          width: 90vw;
          margin: auto;
          transform: translateX(-5%);
        }

        .mmn{
          padding-top: 30vw;
        }

        .abody {
          width: 80vw;
          margin-left: auto;
          margin-right: auto;
          margin-top: 10rem;
          margin-bottom: 5rem;
          font-family: 'Poppins', sans-serif;
        }

        .me{
          width: 32vw;
          }
          
          .created{
          font-family: 'Geologica', sans-serif;
          color:#ccc5b9
          }
          
          .lastb{
          display: flex;
          flex-direction: row;
          justify-content: center;
          }
          
          .italics{
          font-style: italic;
          font-family: 'Geologica', sans-serif;
          padding-top: 0.1vw;
          padding-left: 0.4vw;
          color: #fbbe74;
          }
          
          .icontt{
          color: white;
          font-size: 10vw;
          width: 20vw;
          
          }
          
          .icond{
            padding-top: 4vh;
            padding-bottom: 2vh;
          }
          
          .lastm{
          width: 100vw;
          min-height: 20vh;       
          margin: 0;
          padding: 0;
          }

          .thirdimg{
             min-height: 100vh;
             width: 100vw;
             padding-bottom: 5vh
            ;
          }
          
  }