.App {
  text-align: center;
}

.head{
  display: flex;
  justify-content: space-between;
  width: 96vw;
  padding-left: 2vw;
  padding-top: 2vh;
}

.icon{
  max-height: 9vh;
}

.three{
  display: flex;
  width: 90vw;
  transform: translateY(-45%);
  
}

.p1{
  width: 32vw;
  transform: translateX(50%);
  margin: 0;
}
.p2{
  width: 32vw;
  z-index: 2;
  margin: 0;
}
.p3{
  width: 32vw;
  transform: translateX(-50%);
  margin: 0;
}
.mheadt{
  font-family: 'Black Ops One', cursive;
  font-size: 8vw;
  padding-top: 10vh;
  color: rgb(255, 149, 0);
 
}

.line{
  background-color: rgb(255, 149, 0);
  width:100vw;
  height: 1vh;
  transform: translateY(-14.5vw);
}

.minfo{
  font-family: 'Black Ops One', cursive;
  font-size: 3vw;
  transform: translateY(-11vw);
  color: #eb5e28;
}

.infop{
  font-family: 'Oswald', sans-serif;
  width: 70vw;
  padding-left: 15vw;
  transform: translateY(-10vw);
  color: #ccc5b9;
}


.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  min-height: 100vh;
  padding: 100px 0;
  font-family: Jost;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.timeline-content {
  padding: 20px;
  background: #1f1f1f;
  -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
          box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  border-radius: 5px;
  color: #ccc5b9;
  padding: 1.75rem;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
}

.timeline-component {
  margin: 0px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.sea{
  font-family: 'Black Ops One', cursive;
}

.seap{
  font-family: 'Oswald', sans-serif;
}


.pfp{
  width: 10vw;
  height:10vw;
  border-radius: 5px;
}

.teamm{
  display: flex;
  margin-bottom: 3vh;
  width: 23vw;
}

.name{
  font-size: 1.5vw;
  font-weight: 800;
  color: #ff7f51;
}
.pdis{
  font-size: 1.1vw;
  font-weight: 600;
  color: #ccc5b9;
  font-family: 'Oswald', sans-serif;
}

.pdism{
  padding-top:1vh;
  text-align: left;
  padding-left: 2vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height:3em;

  font-family: 'Black Ops One', cursive;
}

.mainpd{
  display:flex;
  width:84vw;
  justify-content: space-evenly;
  margin-left:8vw;
  margin-right:8vw;
  flex-direction: column;
 
}
.mainpd1{
  display:flex;
  flex-direction: row;
  width: 84vw;
  justify-content: space-around;
}

.mmn{
  font-size: 1.4em;
  font-family: 'Black Ops One', cursive;
  width: 70vw;
  padding-top: 7vh;
  font-weight:500;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-bottom: 6vh;
  padding-bottom: 0.8vh;
  color: #eb5e28;
  border-bottom: 2px solid white;
}

a{
  text-decoration: none;
}

.mainf{
 width: 40vw;
 padding-top: 20vh;
}

.minte{
  font-family: 'Oswald', sans-serif;
  font-size: 1.1vw;
  
  color: #ccc5b9;
  transform: translateY(9vw);
}

.me{
 width: 32vw;
}

.created{
  font-family: 'Geologica', sans-serif;
  color:#ccc5b9
}

.lastb{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.italics{
  font-style: italic;
  font-family: 'Geologica', sans-serif;
  padding-top: 0.1vw;
  padding-left: 0.4vw;
  color: #fbbe74;
}

.icont{
  color: white;
  font-size: 4vw;
  padding-right: 4vw;
  padding-left: 4vw;
  padding-top: 2vh;
  filter: brightness(100%);
 }

 .lastm{
  width: 100vw;
  height: 22vh;
  background:
  linear-gradient(
  rgba(0, 0, 0, 0.7),
  rgba(0, 0, 0, 0.7)
  ), 
  url('./assets/lastm');
  background-repeat: no-repeat;
  background-size: cover;
  bottom:0;
 }